extends layout

block content
  h1= title
  p Welcome to #{title}
  div.row
    div.col-lg-6
      h4 안녕~
    div.col-lg-6
      h4 넌뭐냐
  
  div.jumbotron
    h1 hello world!
    p 야호~
    p
      a.btn.btn-primary.btn-lg(href="#", rol="button") Learn more

  
  div.container
    div.jumbotron
      h1 bootstrap Tutorial
      p asjdfkljasdlfkjsalkdfj
