script(src='/jquery/jquery.min.js')
script(src='/bootstrap/js/bootstrap.min.js')    
script(src='/icheck/icheck.min.js')    
script(src='/javascripts/xml2json.min.js')    
script(src='/javascripts/plugins/pace/pace.min.js')
script(src='/javascripts/plugins/metisMenu/jquery.metisMenu.js')
script(src='/sweetalert/sweetalert.min.js')    
script(src='/javascripts/jquery.commons.js')        
script(src='/javascripts/jquery.event.js')        
script(src='/javascripts/neo.post.js')  
