doctype html
html
  head
    title= title    
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/icheck/skins/all.css')
    link(rel='stylesheet', href='/stylesheets/style.css')   
    link(rel='stylesheet', href='/stylesheets/animate.css') 
    link(rel='stylesheet', href='/stylesheets/template.css')
  body.bg-primary
    block content
    div.modals-container    
    script(src='/jquery/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')    
    script(src='/icheck/icheck.min.js')        
    script(src='/javascripts/xml2json.min.js')               
    script(src='/javascripts/jquery.event.js')        
    script(src='/javascripts/neo.post.js')  

    
    
