extends ../layout

block content
  div#wrapper
    include ./sidemenu
    
    div.gray-bg#page-wrapper
      - 
        case sidemenu.main
          when 1 
            include ./neonews
          when 2            
            //include ./pharmnews
          when 3
            case sidemenu.sub
              when 31
                //include ./market
              when 32
                //include ./cart
          
