div.row.wrapper.border-bottom.white-bg.page-heading.animated.fadeInRight
  div.col-lg-10
    h2 NeoSoftBank News
  div.col-lg-2

.wrapper.wrapper-content.animated.fadeInRight.ecommerce
  .row
    .col-lg-12
      .tabs-container
        ul.nav.nav-tabs        
          li.active
            a(data-toggle="tab",href="#tab-1") New's List
          li
            a(data-toggle="tab",href="#tab-2") 새로작성
        .tab-content
          // 리스트
          .tab-pane#tab-1  
            
  
