nav.navbar-default.navbar-static-side(role="navigation")
  div.sidebar-collapse
    ul.nav.metismenu#side-menu(style="display:block;")
      li.nav-header
        div.profile-element
          span
            //img.img-circle(alt="image",src="/images/HRxhw1KE.png",style="width:48px;height:48px;")
            i.fa.fa-globe.fa-3x.text-white
          a(href="#")
            span.clear
              span.block.m-t-xs                    
                strong.font-bold 원외탕전실
              span.text-muted.text-xs.block 관리자
      li
        a.side-menu-item#notice-neo(href="/master/admin")
          i.fa.fa-commenting
          span.nav-label NeoSoftBank's News       
      li
        a.side-menu-item#memberManager
          i.fa.fa-group
          span.nav-label 사용자관리
      li
        a.side-menu-item#sale(href="/master/sale")
          i.fa.fa-shopping-cart
          span.nav-label 특가품목관리
  
