extends ./layout

block content
  
  div#wrapper
    include ./sidemenu
    div.gray-bg#page-wrapper
      - 
      case page
        when 0 
          include ../notice
        default
          include ../notice
