doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/icheck/skins/all.css')    
    link(rel='stylesheet', href='/sweetalert/sweetalert.css')
    //link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')   
    link(rel='stylesheet', href='/stylesheets/animate.css') 
    link(rel='stylesheet', href='/stylesheets/template.css')
  body.pace-done.fixed-sidebar.no-skin-config.full-height-layout
    script(src='/jquery/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')    
    script(src='/icheck/icheck.min.js')    
    script(src='/jquery-slimscroll/jquery.slimscroll.min.js')    
    script(src='/javascripts/xml2json.min.js')    
    script(src='/javascripts/plugins/pace/pace.min.js')
    script(src='/javascripts/plugins/metisMenu/jquery.metisMenu.js')
    script(src='/sweetalert/sweetalert.min.js')        
    script(src='/javascripts/jquery.commons.js')        
    script(src='/javascripts/jquery.event.js')        
    script(src='/javascripts/neo.post.js')  
    block content
    div.modals-container
    

    
