div.modal.inmodal.text-muted#zipcode(role="dialog",tabindex="-1",aria-hidden="true")
  div.modal-dialog
    div.modal-content.animated.bounceInRight
      div.modal-header
        h4.font-bold 우편번호 검색
        p.text-left 도로명, 건물명, 지번에 대해 통합검색이 가능합니다. (예: 반포대로 58, 국립중앙박물관, 삼성동 25)
        p.text-left 지번검색시 읍면동 + 번지까지 입력해주셔야합니다. (예: 구로동 197-48, 구로동197-48)
        div.input-group          
          input.form-control#input-zip-search(type="text", aria-label="도로명, 지번, 우편번호 통합검색이 가능합니다.")
          span.input-group-btn
            button.btn.btn-primary#btn-zip-search(type='button') 검색
        //label.pull-left
        //  div.icheckbox_square-green(style="position:relative;")
        //    input.i-checks(type='checkbox',style='position:absolute;opacity:0;')
        //    ins.iCheck-helper(style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);")
        //  영문검색
      div.modal-body
        ul.sortable-list.agile-list.ui-sortable#ziplist
      
