.row.wrapper.border-bottom.white-bg.page-heading.animated.fadeInRight
  .col-lg-12
    h2
      i.fa.fa-cart-plus.fa-1x
      |  장바구니
      
      .btn-group.pull-right
        a.btn.btn-success.btn-outline(href="/hosp/market/" + hosp.한의원키)
          i.fa.fa-balance-scale
          |  약재장터
        a.btn.btn-success.btn-outline.active
          ai.fa.fa-cart-plus
          |  장바구니
        a.btn.btn-success.btn-outline
          i.fa.fa-edit
          |  원내장부     

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-8
      .ibox#cart-list        
        .ibox-title
          h5 장바구니 목록
        .ibox-content
          .table-responsive
            table.table.shoping-cart-table
              tbody
                tr
                  td.desc
                    h3 가구자
                    .m-t-sm 
                      a.text-info.font-bold
                        i.fa.fa-building
                        |  재민약업사 
                      || 
                      a.text-danger.font-bold
                        i.fa.fa-trash 
                        |  삭제                    
                  td(width=80) 100,000원
                  td(width=80)
                    input.form-control(type="number")
                  td(width=80) 100,000원  
        .ibox-content
          .table-responsive
            table.table.shoping-cart-table
              tbody
                tr
                  td.desc
                    h3 가구자
                    .m-t-sm 
                      a.text-info.font-bold
                        i.fa.fa-building
                        |  재민약업사 
                      || 
                      a.text-danger.font-bold
                        i.fa.fa-trash 
                        |  삭제                    
                  td(width=80) 100,000원
                  td(width=80)
                    input.form-control(type="number")
                  td(width=80) 100,000원   
        .ibox-content
          .table-responsive
            table.table.shoping-cart-table
              tbody
                tr
                  td.desc
                    h3 가구자
                    .m-t-sm 
                      a.text-info.font-bold
                        i.fa.fa-building
                        |  재민약업사 
                      || 
                      a.text-danger.font-bold
                        i.fa.fa-trash 
                        |  삭제                    
                  td(width=80) 100,000원
                  td(width=80)
                    input.form-control(type="number")
                  td(width=80) 100,000원                     
                        
    .col-lg-4
      .ibox
        .ibox-title 
          h5 결제예정금액
        .ibox-content
          h2.text-danger.font-bold 100,000원
          .m-t-sm
            .btn-group
              button.btn.btn-warning.btn-sm
                i.fa.fa-shopping-cart
                |  구매확정
              button.btn.btn-white.btn-sm
                | 구매취소      
      .ibox
        .ibox-title
          h5 주문내역
        .ibox-content
          table.small.table.no-margins.table-nowrap
            thead
              tr 
                th 주문일
                th 주문정보
                th.text-right 금액
            tbody
              tr  
                td 2016.03.18
                td 가구자 외 5개asdfasdfasdfsadf
                td.text-right.text-danger 100,000원
          
                  
