.row.wrapper.border-bottom.white-bg.page-heading.animated.fadeInRight
  .col-lg-12
    h2
      i.fa.fa-cart-plus.fa-1x
      |  장바구니
      
      .btn-group.pull-right
        a.btn.btn-success.btn-outline(href="/hosp/market/" + hosp.한의원키)
          i.fa.fa-balance-scale
          |  약재장터
        a.btn.btn-success.btn-outline.active
          ai.fa.fa-cart-plus
          |  장바구니
        a.btn.btn-success.btn-outline
          i.fa.fa-edit
          |  원내장부     

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-8
      .ibox#cart-list        
        .ibox-title
          h5 장바구니 목록
        
    .col-lg-4
      .ibox
        .ibox-title 
          h5 결제예정금액
        .ibox-content
          h2.text-danger.font-bold#cart-price 
          .ibox
            .ibox-title 
              h4 배송지 정보
            .ibox-content
              .form-horizontal#delivery-info
                .form-group
                  label.col-sm-4.control-label 우편번호
                  .col-sm-4.input-group                    
                    input.form-control#pharmZipcode(value=hosp.우편번호)         
                    span.input-group-btn
                      button.btn.btn-primary.neopost.btn-zipcode 검색
                .form-group
                  label.col-sm-4.control-label 기본주소
                  .col-sm-8
                    input.form-control#pharmAddr1(value=hosp.기본주소)
                .form-group
                  label.col-sm-4.control-label 상세주소
                  .col-sm-8
                    input.form-control#pharmAddr2(value=hosp.상세주소)
                .form-group
                  label.col-sm-4.control-label 연락처
                  .col-sm-8
                    input.form-control#tel(value=hosp.연락처1)
                .form-group
                  label.col-sm-4.control-label 배송메모
                  .col-sm-8
                    textarea.form-control#memo(row=3,style="width:100%;")
          .m-t-sm
            .btn-group
              button.btn.btn-warning.btn-sm#send-cart
                i.fa.fa-shopping-cart
                |  구매신청
            //  button.btn.btn-white.btn-sm
            //    | 구매취소      
      .ibox
        .ibox-title
          h5 주문내역
        .ibox-content
          table.small.table.no-margins.table-nowrap
            thead
              tr 
                th 주문일
                th 주문정보
                th.text-right 금액
            tbody#cart-history
