.row.wrapper.border-bottom.white-bg.page-heading.animated.fadeInRight
  .col-lg-12
    h2
      i.fa.fa-balance-scale.fa-1x
      |  약재장터
      
      .btn-group.pull-right
        a.btn.btn-success.btn-outline.active(href="/hosp/market/" + hosp.한의원키)
          i.fa.fa-balance-scale
          |  약재장터
        a.btn.btn-success.btn-outline(href="/hosp/cart/" + hosp.한의원키)
          ai.fa.fa-cart-plus
          |  장바구니
        a.btn.btn-success.btn-outline
          i.fa.fa-edit
          |  원내장부    
  
.animated.fadeInRight.fh-breadcrumb
  div.fh-column-2    
    //div.slimScrollDiv(style="position: relative; overflow: auto; width: auto; height: 100%;")
    div.full-height-scroll       
      .input-group
        input.input.input-sm.form-control#market-search-input(type="text",placeholder="약재 검색", required, autocomplete="off")
        span.input-group-btn
          button.btn.btn-sm.btn-primary#market-search-btn(type="button") 검색
      //ul.sortable-list.agile-list.ui-sortable#market-list
      ul.list-group#market-list
  
  .fh-column-2.border-left
    div.full-height-scroll  
      ul.list-group#market-same-list
  .full-height
    .full-height-scroll.white-bg.border-left
      .row
        .col-lg-4
          .ibox
            .ibox-content.product-box
              .product-imitation 특가광고이미지
              .product-desc
                span.product-price 특가가격
                a.product-name 특가물품명
                .small.m-t-xs 약업사에서 특가품을 등록하면 네오소프트뱅크에서 승인해주고 광고를 합니다.
                .m-t.text-right
                  
        .col-lg-4
          .ibox
            .ibox-content.product-box
              .product-imitation 특가광고이미지
              .product-desc
                span.product-price 특가가격
                a.product-name 특가물품명
                .small.m-t-xs 약업사에서 특가품을 등록하면 네오소프트뱅크에서 승인해주고 광고를 합니다.
                .m-t.text-right
                  
        .col-lg-4
          .ibox
            .ibox-content.product-box
              .product-imitation 특가광고이미지
              .product-desc
                span.product-price 특가가격
                a.product-name 특가물품명
                .small.m-t-xs 약업사에서 특가품을 등록하면 네오소프트뱅크에서 승인해주고 광고를 합니다.
                .m-t.text-right
                  
      .row        
        .col-lg-4
          .ibox
            .ibox-content.product-box
              .product-imitation 특가광고이미지
              .product-desc
                span.product-price 특가가격
                a.product-name 특가물품명
                .small.m-t-xs 약업사에서 특가품을 등록하면 네오소프트뱅크에서 승인해주고 광고를 합니다.
                .m-t.text-right
                  
        .col-lg-4
          .ibox
            .ibox-content.product-box
              .product-imitation 특가광고이미지
              .product-desc
                span.product-price 특가가격
                a.product-name 특가물품명
                .small.m-t-xs 약업사에서 특가품을 등록하면 네오소프트뱅크에서 승인해주고 광고를 합니다.
                .m-t.text-right
                  
        .col-lg-4
          .ibox
            .ibox-content.product-box
              .product-imitation 특가광고이미지
              .product-desc
                span.product-price 특가가격
                a.product-name 특가물품명
                .small.m-t-xs 약업사에서 특가품을 등록하면 네오소프트뱅크에서 승인해주고 광고를 합니다.
                .m-t.text-right
                  
      .row        
        .col-lg-4
          .ibox
            .ibox-content.product-box
              .product-imitation 특가광고이미지
              .product-desc
                span.product-price 특가가격
                a.product-name 특가물품명
                .small.m-t-xs 약업사에서 특가품을 등록하면 네오소프트뱅크에서 승인해주고 광고를 합니다.
                .m-t.text-right
                  
        .col-lg-4
          .ibox
            .ibox-content.product-box
              .product-imitation 특가광고이미지
              .product-desc
                span.product-price 특가가격
                a.product-name 특가물품명
                .small.m-t-xs 약업사에서 특가품을 등록하면 네오소프트뱅크에서 승인해주고 광고를 합니다.
                .m-t.text-right
                  
        .col-lg-4
          .ibox
            .ibox-content.product-box
              .product-imitation 특가광고이미지
              .product-desc
                span.product-price 특가가격
                a.product-name 특가물품명
                .small.m-t-xs 약업사에서 특가품을 등록하면 네오소프트뱅크에서 승인해주고 광고를 합니다.
                .m-t.text-right
                  
