.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2
      i.fa.fa-balance-scale.fa-1x
      | 한방 약재장터
    ol.breadcrumb
      li
        form.pull-right.mail-search
          .input-group
            input.form-control.input-sm#market-search(type="text",name="market-search",placeholder="약재 검색")
            .input-group-btn
              button.btn.btn-sm.btn-primary(type="submit") 검색
  .col-lg-2

.wrapper.wrapper-content.animated.fadeInRight#market-gird
  .row
    .col-lg-3
      .ibox.float-e-margins
        .ibox-title
          h5 가구자
        .ibox-content
          label.label.label-info.pull-left 최저가
          h1.no-margins.text-right 1000원
          ul.small.m-t-xs.list-group.clear-list
            li.list-group-item
              a(href="#")
                span.pull-right 1000원
                span.label.label-success 1
                |  재민약업사
            li.list-group-item
              a(href="#")
                span.pull-right 1000원
                span.label.label-success 1
                |  재민약업사  
  //
    .col-md-3
      .ibox
        .ibox-content.product-box
          .product-imitation 
            img(alt="image",src="/images/HRxhw1KE.png",style="width:100%;height:100%;")
          .product-desc
            span.product-price 1000원
            span.product-name 갈근
            ul.small.m-t-xs.border-top.border-bottom.list-group.clear-list.product-seller
              li.list-group-item
                a(href="#")
                  span.pull-right 1000원
                  span.label.label-success 1
                  |  재민약업사
              li.list-group-item
                a(href="#")
                  span.pull-right 1000원
                  span.label.label-success 1
                  |  재민약업사  
              li.list-group-item
                a(href="#")
                  span.pull-right 1000원
                  span.label.label-success 1
                  |  재민약업사
          
