.row.wrapper.border-bottom.white-bg.page-heading.animated.fadeInRight
  .col-lg-10
    h3
      i.fa.fa-balance-scale.fa-1x
      | 한방 약재장터
    ol.breadcrumb
      li.active
        a 
          strong 약재장터
      li 
        a 장바구니
      li 
        a 원내장부
  .col-lg-2
.animated.fadeInRight.fh-breadcrumb
  div.fh-column-2    
    //div.slimScrollDiv(style="position: relative; overflow: auto; width: auto; height: 100%;")
    div.full-height-scroll       
      .input-group
        input.input.input-sm.form-control#market-search-input(type="text",placeholder="약재 검색", required, autocomplete="off")
        span.input-group-btn
          button.btn.btn-sm.btn-primary#market-search-btn(type="button") 검색
      //ul.sortable-list.agile-list.ui-sortable#market-list
      ul.list-group#market-list
  
  .fh-column-2.border-left
    ul.list-group#market-same-list
  .full-height
    .full-height-scroll.white-bg.border-left
//   
  .fh-column-2.border-left#market-same-con
    .full-height-scroll
      ul.list-group#market-same-list
   
  
