div.row.wrapper.border-bottom.white-bg.page-heading.animated.fadeInRight
  div.col-lg-10
    h2
      i.fa.fa-newspaper-o
      |  약업사 공지사항 
  div.col-lg-2

.wrapper.wrapper-content.animated.fadeInRight
  .row 
    .col-lg-12
      ul.nav.nav-tabs#pharms
        li.active
          a(data-toggle="tab",href="#tab-1")
            i.fa.fa-building
            |  재민약업사
        li
          a(data-toggle="tab",href="#tab-2")
            i.fa.fa-building
            |  재민약업사
      .tab-content#pharmsContents
        .tab-pane.active#tab-1
          .social-feed-box.animated.fadeInUp
            .social-avatar
              .media-body
                a 재민약업사
                small.text-muted 2016.03.18 AM 09:49
            .social-body
              p Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Packages and web page editors now use Lorem Ipsum as their default model text.
              p Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Packages and web page editors now use Lorem Ipsum as their default model text.
        .tab-pane#tab-2
          .social-feed-box.animated.fadeInUp
            .social-avatar
              .media-body
                a 재민약업사2
                small.text-muted 2016.03.18 AM 09:49
            .social-body
              p 2Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Packages and web page editors now use Lorem Ipsum as their default model text.
              p Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Packages and web page editors now use Lorem Ipsum as their default model text.
