nav.navbar-default.navbar-static-side(role="navigation")
  div.sidebar-collapse
    ul.nav.metismenu#side-menu(style="display:block;")
      li.nav-header
        div.profile-element
          span
            //img.img-circle(alt="image",src="/images/HRxhw1KE.png",style="width:48px;height:48px;")
            i.fa.fa-hospital-o.fa-3x.text-white
          a(href="#")
            span.clear
              span.block.m-t-xs                    
                strong.font-bold= hosp.한의원이름
              span.text-muted.text-xs.block= hosp.한의사          
      li.nav-header.nav-table
        div.news-element.border-bottom
          a.side-menu-item#notice-neo(href="/hosp/index/" + hosp.한의원키)
            i.fa.fa-commenting
            span.nav-label  NeoSoftBank's News  
          ul.list-group#notice-neo-nav  
            li.list-group-item 최신뉴스가 없습니다.          
            li.list-group-item.ellipsis.border-bottom-dark
              a
                span.badge.badge-danger N 
                |  공지사항입니다요dydydydy
                small.pull-right 2016.03.15
            li.list-group-item.ellipsis.border-bottom-dark
              a
                span.badge.badge-danger N 
                |  공지사항입니다요dydydydy
                small.pull-right 2016.03.15
            li.list-group-item.ellipsis.border-bottom-dark
              a
                span.badge.badge-danger N 
                |  공지사항입니다요dydydydy
                small.pull-right 2016.03.15
      li.nav-header.nav-table
        div.notice-element.border-bottom
          a.side-menu-item#notice-pharm(href="/hosp/notice/" + hosp.한의원키)
            i.fa.fa-newspaper-o
            span.nav-label  약업사 공지사항
          ul.list-group#notice-pharm-nav            
            li.list-group-item 공지사항이 없습니다.
      li.nav-header.nav-table
        div.market-element
          a.side-menu-item#market(href="/hosp/market/" + hosp.한의원키)
            i.fa.fa-balance-scale
            span.nav-label 약재장터         
      
